p {
  font-size: small;
}

.item_details {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.08);
}

.details {
  flex: 0.5;
}

.items_img {
  flex: 0.1;
}

.items_img img {
  width: 10rem;
  border-radius: 5px;
}

@media (max-width: 772px) {
  .item_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
